<div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
	<% if (friends && friends.length > 0) { %>
		<div class="flex flex-wrap gap-4">
			<% friends.forEach(function(friend) { %>
			<div class="flex flex-col items-center bg-gray-100 p-4 rounded-lg shadow-sm">
				<a href="/partial/pages/profile/<%= friend.id %>" target="_blank"
					class="cursor-pointer flex flex-col items-center">
					<img src="/api/profile/<%= friend.id %>/picture?v=<%= Date.now() %>"
						alt="Profile Picture <%= friend.id %>"
						class="w-16 h-16 rounded-full object-cover ring-2 ring-blue-500">
					<div class="text-center mt-2">
						<div class="text-lg font-bold">
							<%= friend.displayname %>
						</div>
						<div class="text-sm text-gray-600">@<%= friend.username %>
						</div>
					</div>
				</a>
				<input type="checkbox" name="friends" value="<%= friend.id %>"
					class="friendCheckBox">
			</div>
			<% }); %>
		</div>
	<% } %>
	<button id="joinChatButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
	Join Chat
	</button>
</div>
<script type="module" src="/static/js/chat_setup.js"></script>