<nav class="space-x-4">
	<button data-page="index" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('index')"><%= t('header.title') %></button>
	<button data-page="profile" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('profile')"><%= t('menu.profile') %></button>
	<button data-page="game_setup" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('game_setup')"><%= t('menu.game') %></button>
	<button data-page="logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="logout()">
		<%= t('menu.logout') %>
	</button>
	<button data-page="about" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('about')"><%= t('menu.about') %></button>
</nav>
<script type="module" src="/static/js/events.js" defer></script>