<div class="p-6 rounded-lg glow-green">
	<h1 class="text-4xl font-bold mb-4"><%= t('about.title') %></h1>
	<p class="text-2xl leading-relaxed mb-6">
		<%= t('about.info_text') %></p>
	<br>
	<div class="flex items-center space-x-6 justify-center">
  <% const team = [
    { name: 'Luca',   alias: '(backendböhm)', img: 'https://pg-p.ctme.caltech.edu/wp-content/uploads/sites/4/2023/03/full_stack_web_developer_salary-1.jpg', href: 'https://github.com/Lucabhm' },
    { name: 'Nick',   alias: '(laser)',       img: 'https://avatars.githubusercontent.com/u/128718390?v=4', href: 'https://github.com/nicktalm' },
    { name: 'Leo',    alias: '(das leben)',   img: 'https://avatars.githubusercontent.com/u/142174400?v=4', href: 'https://github.com/lglauch' },
    { name: 'Jonas',  alias: '(reptudn)',     img: 'https://avatars.githubusercontent.com/u/87537789',       href: 'https://github.com/Reptudn' },
    { name: 'Freddy', alias: '(chef)',        img: 'https://avatars.githubusercontent.com/u/120249199',      href: 'https://github.com/FreddyMSchubert' }
  ].sort(() => Math.random() - 0.5); %>
  <% team.forEach(m => { %>
    <div class="text-center">
      <img src="<%= m.img %>" alt="<%= m.name %>" class="w-24 h-24 rounded-full mx-auto">
      <h2 class="text-3xl font-semibold mt-4"><%= m.name %></h2>
      <% if (m.alias) { %><h4 class="glow-blue text-1xl"><%= m.alias %></h4><% } %>
      <a href="<%= m.href %>" target="_blank" class="glow-red hover:underline">GitHub Profile</a>
    </div>
  <% }) %>
</div>

</div>