<div class="max-w-7xl p-6 rounded-lg shadow-md glow-green text-2xl">
	<h2 class="text-2xl font-bold mb-6 text-center"><%= t('edit_profile.edit_profile') %></h2>
	<div id="editProfileForm">
		<div class="mb-4">
			<label class="block font-bold mb-2"><%= t('edit_profile.profile_picture') %>:</label>
			<img src="/api/profile/<%= user.id %>/picture?v=<%= Date.now() %>" alt="Profile Picture"
				class="w-24 h-24 rounded-full mb-2">
			<input type="file" id="profilePicture" name="profile_picture" accept="image/png" class="w-full" value="">
			<button type="button" class="bg-[#ff0000] text-white font-bold py-1 px-2 rounded"
				id="profilePictureReset"><%= t('edit_profile.remove') %></button>
		</div>
		<div class="mb-4">
			<label class="block font-bold mb-2"><%= t('edit_profile.username') %>:</label>
			<input type="text" id="username" value="<%= user.username%>" required pattern="^\S+$"
				class="w-full px-3 py-2 border rounded border-[#00ff00]">
			<div class="text-right text-sm glow-green" id="usernameCounter">0/16</div>
			<small class="glow-green"><%= t('edit_profile.no_spaces') %></small>
		</div>
		<div class="mb-4">
			<label class="block font-bold mb-2"><%= t('edit_profile.displayname') %>:</label>
			<input type="text" id="displayName" value="<%= user.displayname %>" required
				class="w-full px-3 py-2 border rounded border-[#00ff00]">
			<div class="text-right text-sm glow-green" id="displayNameCounter">0/16</div>
		</div>
		<div class="mb-4">
			<label class="block font-bold mb-2"><%= t('edit_profile.bio') %>:</label>
			<textarea id="bio" rows="3" class="w-full px-3 py-2 border rounded field-sizing-content border-[#00ff00]"><%= user.bio %></textarea>
		</div>
		<div class="text-center">
			<button type="submit" id="editprofilesubmit"
				class="bg-[#00ff00] text-white font-bold py-2 px-4 rounded"><%= t('edit_profile.save_changes') %>
			</button>
		</div>
		<!-- <div class="text-center"> -->
			<%- include('misc/totp_toggle') %>
		<!-- </div> -->

		<div class="h-10"></div>
		<hr class="my-4">

		<h3 class="text-lg font-bold mb-2"><%= t('edit_profile.change_title') %></h3>
		<p class="glow-green text-sm mb-4"><%= t('edit_profile.complete_achievements_to_unlock') %></p>
		<div class="mb-4">
			<select id="firstTitle" name="firstTitle" class="w-full px-3 py-2 border rounded border-[#00ff00]">
				<% firstTitles.forEach(option=> { %>
					<option value="<%= option.value %>" <%=user.title_first===option.value ? 'selected' : '' %>><%=
							option.label %>
					</option>
					<% }); %>
			</select>
			<select id="secondTitle" name="secondTitle" class="w-full px-3 py-2 border rounded border-[#00ff00]">
				<% secondTitles.forEach(option=> { %>
					<option value="<%= option.value %>" <%=user.title_second===option.value ? 'selected' : '' %>><%=
							option.label %>
					</option>
					<% }); %>
			</select>
			<select id="thirdTitle" name="thirdTitle" class="w-full px-3 py-2 border rounded border-[#00ff00]">
				<% thirdTitles.forEach(option=> { %>
					<option value="<%= option.value %>" <%=user.title_third===option.value ? 'selected' : '' %>><%=
							option.label %>
					</option>
					<% }); %>
			</select>
			<div class="text-center">
				<button type="submit" id="edittitlesubmit"
					class="bg-[#00ff00] mt-4 text-white font-bold py-2 px-4 rounded"><%= t('edit_profile.save_title') %>
				</button>
			</div>
		</div>

		<div class="h-10"></div>
		<hr class="my-4">

		<h3 class="text-lg font-bold mb-2"><%= t('edit_profile.change_password') %></h3>
		<div class="mb-4">
			<label class="block font-bold mb-2"><%= t('edit_profile.old_password') %>:</label>
			<input type="password" id="oldPassword" class="w-full px-3 py-2 border rounded border-[#00ff00]">
		</div>
		<div class="mb-6">
			<label class="block font-bold mb-2"><%= t('edit_profile.new_password') %>:</label>
			<input type="password" id="newPassword" class="w-full px-3 py-2 border rounded border-[#00ff00]">
			<small class="glow-green"><%= t('edit_profile.password_no_spaces') %></small>
		</div>
		<div class="text-center">
			<button type="submit" id="changepasswordsubmit"
				class="bg-[#00ff00] text-white font-bold py-2 px-4 rounded"><%= t('edit_profile.save_changes') %>
			</button>
		</div>

		<div class="h-10"></div>
		<hr class="my-4">

		<h3 class="text-lg font-bold mb-2"><%= t('edit_profile.delete_user') %></h3>
		<div class="mb-6">
			<label class="block font-bold mb-2"><%= t('edit_profile.password') %>:</label>
			<input type="password" id="deletePassword" class="w-full px-3 py-2 border rounded border-[#00ff00]">
		</div>

		<div class="text-center">
			<button type="submit" id="deleteprofilesubmit"
				class="bg-[#ff0000] text-white font-bold py-2 px-4 rounded"><%= t('edit_profile.delete_user') %></button>
		</div>
		</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	<script type="module" src="/static/js/edit_profile.js"></script>