<% if (initial) { %>
	<!-- Initial Page things that only get loaded when the page is first loaded -->
	<h1><%= ownerName %>'s Game</h1>
	<button onclick="addAIPlayer()">Add AI</button>
	<button onclick="addLocalPlayer()">Add Local Player</button>
	<button onclick="addUserPlayer()">Invite Player</button>
	<button id="startGameButton" class="glow-blue py-2 px-4 rounded text-2xl"><%= t('game_setup.start_game') %></button>
	<input type="checkbox" name="Power-Ups enabled?" id="powerups-toggle">Power-Ups enabled?</input>
	<div>
		<div id="onlineFriendsList"></div>
		<button onclick="refreshOnlineFriends()">Refresh</button>
	</div>

	<div class="lobby">
<% } %>
	<p>Players: <%= players.length %> / <%= gameSettings.maxPlayers %></p>
	<div class="settings">
		<h2>Lobby Settings</h2>
		<div id="lobbySettings">
			<h3>Power-ups:</h3>
			<% if (gameSettings.powerupsEnabled) { %>
				<button onclick="addPowerUp()">Add Power Up</button>
				<% for (const powerup of gameSettings.powerups) { %>
					<div class="powerup">
						<span class="powerup-name"><%= powerup.name %></span>
						<span class="powerup-description"><%= powerup.description %></span>
						<button onclick="removePowerup()">Remove</button>
					</div>
					<br>
				<% } %>
			<% } else { %>
				<p>Power-ups are disabled.</p>
			<% } %>
		</div>
	</div>
	<br>
	<br>
	<div class="players">
		<h2>Players:</h2>
		<div id="playerList">
			<% for (const player of players) { %>
				<div class="<%- player.joined ? 'border-green-500' : 'border-red-500' %>">
					<span class=""><%= player.displayName %></span>
					<span class=""><%= player.playerTitle %></span>
					<span class=""><%= player.joined ? "Joined" : "Not Joined" %></span>
					<button onclick="kickPlayer(player.playerId)">Remove</button>
				</div>
				<br>
			<% } %>
		</div>
	</div>
<% if (initial) { %>
	</div>

	<!-- Initial Page things that only get loaded when the page is first loaded -->
	<button onclick="leaveGame()">Leave Game</button> 
	<script type="module" src="/static/js/game_setup_new.js" defer></script>
<% } %>