<% if (initial)  {%>
<div class="flex-row">
	<button onclick="leaveGame()">Leave Game</button>
	<script src="/static/js/lobby.js" type="module"></script>
	<div id="lobby">
<% } %>
		<h1 class="text-4xl"><%= ownerName %>'s Game</h1>
		<p>Players: <%= players.length %> / <span class="glow-red"><%= gameSettings.maxPlayers %></span></p>
		<div class="settings">
			<h2 class="text-3xl">Lobby Settings</h2>
			<div id="lobbySettings">
				<h3>Power-ups:</h3>
				<% if (gameSettings.powerupsEnabled && gameSettings.powerups.length > 0) { %>
					<% for (const powerup of gameSettings.powerups) { %>
						<div class="powerup">
							<span class="powerup-name"><%= powerup.name %></span>
							<span class="powerup-description"><%= powerup.description %></span>
						</div>
					<% } %>
				<% } else { %>
					<p>Power-ups are disabled.</p>
					<br>
				<% } %>
				<h3>Player Lives: <%= gameSettings.playerLives %></h3>
				<h3>Game Difficulty: <%= gameSettings.gameDifficulty %></h3>
				<h3>Current Map: <%= gameSettings.map %></h3>
			</div>
		</div>
		<br>
		<button onclick="addLocalPlayer()">Add Local Player</button>
		<div class="players">
			<h2 class="text-3xl">Players:</h2>
			<div id="playerList">
				<% if (!players || players.length === 0) { %>
					<p>No players joined.</p>
				<% } else { %>
					<% for (const player of players) { %>
						<div class="<%= player.joined ? 'border-green-500' : 'border-red-500' %>">
							<span class="glow-green"><%= player.displayName || 'Unknown Player' %></span>
							<span class="glow-red"><%= player.playerTitle || 'Unknown Title' %></span>
							<span class="glow-blue"><%= player.joined ? "Joined" : "Not Joined" %></span>
						</div>
						<br>
					<% } %>
				<% } %>
			</div>
		</div>
	
<% if (initial) { %>
	</div> <!-- End of lobby div -->
</div> <!-- End of page div -->
<% } %>