<div class="bg-[#12121246] p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border flex flex-col">
	<div class="flex flex-col flex-grow overflow-hidden space-y-2">
		<div id="currentChat"><%= t('chat.currChat') %></div>
		<div id="chatMessages" class="flex flex-col border border-gray-300 overflow-y-auto rounded flex-grow h-full min-h-0 space-y-2"></div>
	</div>
	<div class="space-y-2">
		<div class="flex flex-col space-y-2 mt-2">
			<input id="chatInput" type="text" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded" placeholder="<%= t('chat.placeholder_input') %>">
			<button id="sendChatButton" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.sent') %></button>
		</div>
		<div class="flex flex-row">
			<button id="chats" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition">Chats</button>
			<button id="friends" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition">Friends</button>
			<button id="optionButton" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.options') %></button>
		</div>
	</div>
</div>

<!-- Modal for Options -->
<div id="optionModal" class="p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border hidden flex flex-col justify-between">
	<div class="flex flex-col space-y-2">
		<button id="globalChat" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.global_chat') %></button>
		<button id="createGroup" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.new_chat') %></button>
		<button id="blockUser" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.block_user') %></button>
		<button id="unblockUser" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.unblock_user') %></button>
		<button id="inviteUser" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.invite_to_chat') %></button>
		<button id="chatInfo" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.chat_info') %></button>
		<button id="leaveUser" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-red-500 hover:text-white transition"><%= t('chat.user_leave_chat') %></button>
	</div>
	<div class="flex flex-col space-y-2 mt-2">
		<button id="closeOptions" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.close_options') %></button>
	</div>
</div>

<!--Modal group creation -->
<div id="groupWindow" class="p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border flex flex-col space-y-2 hidden z-50">
	<h2 class="text-lg font-semibold"><%= t('chat.create_new_group') %></h2>

	<input id="groupNameInput" type="text" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded" placeholder="<%= t('chat.placeholder_group_name') %>">

	<div id="searchResults" class="flex flex-col border border-gray-200 rounded px-2 py-1 overflow-y-auto h-40 min-h-0">
	</div>

	<div class="flex justify-end space-x-2">
		<button id="closeGroupWindow" class="px-4 py-2 border"><%= t('chat.cancel') %></button>
		<button id="confirmCreateGroup" class="bg-blue-600 text-white px-4 py-2 rounded"><%= t('chat.create_group') %></button>
	</div>
</div>

<!-- Modal für Block-User -->
<div id="blockUserWindow" class="p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border flex flex-col space-y-2 hidden z-50">
	<h2 class="text-lg font-semibold"><%= t('chat.block_user') %></h2>

	<div id="searchResultsToBlock" class="flex flex-col border border-gray-200 rounded px-2 py-1 overflow-y-auto h-40 min-h-0">
	</div>

	<div class="flex justify-end space-x-2">
		<button id="closeBlockUser" class="px-4 py-2 border"><%= t('chat.cancel') %></button>
		<button id="confirmBlockUser" class="bg-blue-600 text-white px-4 py-2 rounded"><%= t('chat.block_user') %></button>
	</div>
</div>

<!-- Modal für Unblock-User -->
<div id="unblockUserWindow" class="p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border flex flex-col space-y-2 hidden z-50">
	<h2 class="text-lg font-semibold"><%= t('chat.unblock_user') %></h2>

	<div id="searchResultsToUnblock" class="flex flex-col border border-gray-200 rounded px-2 py-1 overflow-y-auto h-40 min-h-0">
	</div>

	<div class="flex justify-end space-x-2">
		<button id="closeUnblockUser" class="px-4 py-2 border"><%= t('chat.cancel') %></button>
		<button id="confirmUnblockUser" class="bg-blue-600 text-white px-4 py-2 rounded"><%= t('chat.unblock_user') %></button>
	</div>
</div>

<!-- Modal für invite-User -->
<div id="inviteUserWindow" class="p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border flex flex-col space-y-2 hidden z-50">
	<h2 class="text-lg font-semibold"><%= t('chat.invite_to_chat') %></h2>

	<div id="searchResultsToInvite" class="flex flex-col border border-gray-200 rounded px-2 py-1 overflow-y-auto h-40 min-h-0">
	</div>

	<div class="flex justify-end space-x-2">
		<button id="closeInviteUser" class="px-4 py-2 border"><%= t('chat.cancel') %></button>
		<button id="confirmInviteUser" class="bg-blue-600 text-white px-4 py-2 rounded"><%= t('chat.invite_to_chat') %></button>
	</div>
</div>

<!-- Modal chatInfo -->
<div id="chatInfoWindow" class="p-6 w-1/5 fixed h-[80vh] top-34 right-10 px-4 py-2 backdrop-blur-sm rounded border-[#00ff00] border flex flex-col space-y-2 hidden z-50 justify-between">
	<div id="chatInfoInput">
	</div>
	<div class="flex flex-col space-y-2 mt-40">
		<button id="closeChatInfo" class="px-4 py-2 w-full border border-gray-300 bg-transparent rounded hover:bg-green-500 hover:text-white transition"><%= t('chat.close_options') %></button>
	</div>
</div>

<script type="module" src="/static/js/chat.js" defer></script>
<script type="module" src="/static/js/chat_modal.js" defer></script>
 